/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(https://img.freepik.com/free-photo/steam-train-chugs-through-mountain-forest-scene-generative-ai_188544-8072.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #333;
}

header {
    background-color: #1ff00c;
    color: rgb(28, 36, 4);
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

.booking-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(222, 218, 218);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    }

.booking-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #30dbeb;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #32db3d;
    color: rgb(18, 36, 27);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #49ec21;
    color: rgb(35, 16, 16);
    position: absolute;
    bottom: 10;
    width: 100%;
}
